
<div class="container">
    <form action="" method="POST">
        <input type="text" name="catname" placeholder="catName"> 
        <input type="text" name="catdesc" placeholder="catDesc">
        <button type="submit">Submit</button>
    </form>
</div>