<div>
   <% cate.forEach(cate => { %>
    <li><%= cate.catName %> (<%= cate._id %> )</li>
    
   <% }) %>
</div>



<!-- <div class="container">
    <form action="" method="POST">
        <label for="cars">Choose a car:</label>
        <select id="cars" name="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
        </select>
        <input type="text" name="catdesc" placeholder="catDesc">
        <button type="submit">Submit</button>
    </form>
</div> -->